on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: zulu
        java-version: '17'
        cache: 'gradle'
    - name: Lint
      run: ./gradlew detekt lint
    - name: Run tests
      run: ./gradlew testDebug --continue
    - name: Build
      run: ./gradlew assembleRelease
    - uses: actions/upload-artifact@v3
      with:
        name: Interscheckin-${{ github.sha }}.apk
        path: app/build/outputs/apk/release/app-release-unsigned.apk
